<div class="row">
    <div class="col-md-6">
        <h2>Plots</h2>
    </div>
    <div class="col-md-6 text-right">
        <button ng-click="showPlotAddForm = true" class="btn btn-primary" ng-click="showPlotAddForm=false"><i class="fa fa-fw fa-plus"></i>Add Plot</button>
    </div>
</div>
<!--PLOT ADD/EDIT FORM -->
<div class="row" ng-show="showPlotAddForm">
    <div class="col-md-12 plot-add well">
        <div class="row">
            <div class="col-md-11 text-left">
                <h3>Add Plot</h3>
            </div>
            <div class="col-md-1 text-right">
                <i class="fa fa-fw fa-times" ng-click="close()"></i>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                <label for="">Name:</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="plot_add.name" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">
                <label for="">Desc:</label>
            </div>
            <div class="col-md-10">
                <textarea rows="5" class="form-control" ng-model="plot_add.desc"></textarea>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" ng-click="savePlot()">Save</button>
            </div>
        </div>
    </div>
</div>
<!--/PLOT ADD/EDIT FORM -->
<div class="row" ng-repeat="plot in plots">
    <hr />
    <div class="col-md-5">
        <div class="plot-title">{{plot.name}}</div>
    </div>
    <div class="col-md-4">
        <div class="plot-text">{{plot.desc}}</div>
    </div>
    <div class="col-md-3 text-right">
        <button class="btn btn-sm btn-success" ng-click="viewPlot(plot._id)">View</button>&nbsp;
        <button class="btn btn-sm btn-warning" ng-click="editPlot(plot._id)">Edit</button>&nbsp;
        <button class="btn btn-sm btn-danger" ng-click="deletePlot(plot._id)">Delete</button>
    </div>
    <br />
</div>
<div class="row">
    <hr />
</div>


