/* app css stylesheet */
h1{
  margin: 10px 0px;
}

h2{
  margin: 0px;
  font-family: 'Shadows Into Light', cursive;
}

/* site */
.inline-block{display: inline-block;}
.space5{margin: 5px 0px;}

/* plot */
.plot-title{
    font-size: 18px;
    padding-top: 3px;
}
.plot-text{
    font-size: 14px;
    margin-top: 5px;
}

/* cards */
.card{border: 1px solid #cccccc; height: 140px;}
.card-title{background: #0094ff; color: #FFF;}
.card-title i{cursor: pointer;}
.card-content{height: 120px; outline: none;}
.timeframe{border: 1px solid #cccccc; height: 140px;}

.chapter-title{
  text-align: center;
  font-weight: bold;
}

/* type */
.app-title{font-family: 'Shadows Into Light', cursive;}
body{font-family: 'Lora', serif;}
