/* app css stylesheet */
h1{
  margin: 10px 0px;
}

h2{
  margin: 0px;
  font-family: 'Shadows Into Light', cursive;
}

/* site */
.inline-block{display: inline-block;}
.space5{margin: 5px 0px;}

/* plot */
.plot-title{
    font-size: 18px;
    padding-top: 3px;
}
.plot-text{
    font-size: 14px;
    margin-top: 5px;
}

/* type */
.app-title{font-family: 'Shadows Into Light', cursive;}
body{font-family: 'Lora', serif;}
