<div ng-controller="MainCtrl">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
           Search:&nbsp;<input type="text" name="search" class="form-control" ng-model="q" placeholder="Enter your search term" />
        </div>
        <div class="col-md-1">
            <br />
            <button class="btn btn-primary" ng-click="search()" ng-disabled="apiLoaded">Go!</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center" ng-show="loader">
            <br /><br /><br />
            <img src="default.gif" />
        </div>
        <div class="col-md-6 col-md-offset-3" ng-hide="loader">
            <h3 ng-show="keywords.length > 0">Keywords from the Top YouTube Videos</h3>
            <div class="well well-lg" ng-show="keywords.length > 0">
                <div ng-if="$index < keywords.length" ng-repeat="keyword in keywords track by $index">{{keyword}},</div>
                <div ng-if="$index+1 == keywords.length" ng-repeat="keyword in keywords track by $index">{{keyword}}</div>
            </div>
            <br />
            <small style="color: #696969" ng-show="keywords.length > 0">NOTE: You can copy and paste this list into your own video for better SEO. Theory: Borrow the brilliance of the best.</small>
        </div>
    </div>
</div>